PORT=3002
EVALUATION_SERVICE_URL=http://localhost:3000/evaluation-service/notifications
EXTERNAL_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJyYXNhcGFsbGltYWhlc2guMjMuY3NlQGFuaXRzLmVkdS5pbiIsImV4cCI6MTc4MjE5ODc0NCwiaWF0IjoxNzgyMTk3ODQ0LCJpc3MiOiJBZmZvcmQgTWVkaWNhbCBUZWNobm9sb2dpZXMgUHJpdmF0ZSBMaW1pdGVkIiwianRpIjoiYWQ5NmUyYzgtNjgyNi00YWQwLThkMjMtMzYzZWZmNGVjMDBiIiwibG9jYWxlIjoiZW4tSU4iLCJuYW1lIjoicmFzYXBhbGxpIG1haGVzaCIsInN1YiI6ImE4YTA2OGZmLWEyMTgtNDVmNC1hNmU4LWM1OWJkZDkyNTk5MSJ9LCJlbWFpbCI6InJhc2FwYWxsaW1haGVzaC4yMy5jc2VAYW5pdHMuZWR1LmluIiwibmFtZSI6InJhc2FwYWxsaSBtYWhlc2giLCJyb2xsTm8iOiJhMjMxMjY1MTAxNzYiLCJhY2Nlc3NDb2RlIjoiTVRxeGFyIiwiY2xpZW50SUQiOiJhOGEwNjhmZi1hMjE4LTQ1ZjQtYTZlOC1jNTliZGQ5MjU5OTEiLCJjbGllbnRTZWNyZXQiOiJ5U2pNQ3hGVXp3cUNzZUZoIn0.S9CbH4umIM1Y4SxyNOypFarGh3okr-llYHz5jDAUVCg
